/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2022, 9:13:08 PM
    Author     : quckh
*/
body{
    background-color: white;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

.chat-btn {
    position: absolute;
    right: 30px;
    bottom: 80px;
    cursor: pointer;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    right: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.wrapper {
    position: absolute;
    height: 550px;
    right: 20px;
    bottom: 150px;
    width: 400px;
    background-color: #F49CEC;
    border-radius: 5px;
    border: outset;
    opacity: 0;
    transition: all 0.4s;
    overflow: auto;
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.header h6{
    font-size: 25px;
    text-align: center;
}

.footer{
    float: bottom;
    flex-direction: row;
    position: absolute;
    left:0;
    right: 0;
    border-radius: 0 0 0 5px;
    bottom: 0;
    background-color: white;
}

.footer input-group{
    position: relative;
}

.btn:focus {
    box-shadow: none;
}

#check {
    display: none !important
}

.conversation-wrapper{
    display: flex;
    width: 380px;
    height: 380px;
}

.chatlist {
    float: right;
    list-style: none;
    font-family: inherit;
    font-size: 1em;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    align-content: space-between;
    overflow-x: hidden;

    width: 100%;
    max-width: 35em;
    max-height: 75vh;
    margin: 0 auto;
}

.bot__output {
    padding: 0.85em;
    margin: 0.5em;
    max-width: 80%;

    background-color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #777;
    
}

.bot__output{
    align-self: baseline;
}

.chatbox-area {
    margin: 0 auto;
    position: relative;
    bottom: 0;
    height: 75px;
    width: 380px;
}

#chatform {
    display: flex;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    padding-top: 1em;
    font-size: 1em;
}

textarea[name="chatbox"] {
    resize: none;
    border-right: 0;
    width: 70%;
    background-color: #fff;
    height: 3em;
    margin: 0;
    padding: 0.75em;
    border-radius: 8px 0px 0px 8px;
    font-family: inherit;
    font-size: 1em;
}

.submit-button{
    margin: 0 0 0 10px;
    border-radius: 5px;
}

footer{
    
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F49CEC;;
    color: black;
    text-align: center;
}

