/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2022, 9:13:08 PM
    Author     : quckh
*/
body{
    background-color: #F7C8FF;
}
p{
    text-align: center; font-size: 50px; background-color: #F49CEC; padding-bottom: 5px; padding-top: 5px;
}

h1{
    padding-left: 850px; font-size: 20px; margin-top: 5px;
}

ul{
    list-style-type: none; margin: 10px; padding: 0px; overflow: hidden; background-color: #F49CEC; height: 60px; position: static; top: 0; font-weight: bold; border-radius: 20px;
}

li{
    display: inline;
}

.search_bar{
    margin-left: 200px;width: 400px;height: 45px;margin-top: 10px;border-radius: 25px;
}

.search_button{
    height: 45px; border-radius: 25px;
}

button:hover{
    opacity: 0.8;
}