/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2022, 9:59:19 PM
    Author     : quckh
*/

.register_form{
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    width: 900px;
    height: 500px;
    border-radius: 50px;
    background-color: #FEE7FF;
}
.register_header{
    text-indent: 50%;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -1px;
    width: 695px;
    height: 70px;
    font-size: 32px;
    font-weight: bold;
    
}
.register_button{
    margin-left: 270px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #04AA6D;
}