/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2022, 1:45:41 PM
    Author     : quckh
*/

.tabs > div { display:none; }
.tabs > div.active { display:block; }

.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}

.ad_button{
    text-align: center;
    padding: 5px;
    width: 350px;
    background-color: #f0bc4d;
}
.ad_button:hover{
    opacity: 0.8;
}