/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2022, 9:36:28 PM
    Author     : quckh
*/

.login_form {
    padding-top: 10px;
    border: 3px solid black;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    height: 420px;
    background-color: #FEE7FF;

}
.login_header{
    padding-top: 10px;
    margin-left: 300px;
    width: 695px;
    height: 75px;
    font-size: 32px;
    font-weight: bold;
}
.userName{
    
    text-indent: 20px;
    margin-left: 150px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
.password{
    margin-top: 15px;
    text-indent: 20px;
    margin-left: 150px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
.login_button{
    margin-left: 220px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #04AA6D;
}

.register_button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #04AA6D;
    margin-left: 220px;
}
