/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2022, 9:21:04 PM
    Author     : quckh
*/

body{
    background-color: #F7C8FF;
}
.tool_bars{
    margin-top: 90px;
    background-color: #F49CEC;
    width: auto;
    height: 50px;
}
.button_on_toolbars{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

ul {
    list-style-type: none;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
    overflow: hidden;
    background-color: #F49CEC;
    height: 40px; 
    position: static;
    top: 0;
    font-weight: bold; 
    border-radius: 25px;
}
a{
    display: block;
    padding: 16px;
    background-color: #E103CB;
}

li a:hover:not(.active){
    background-color: #A50194;
}

.search_bar{
    border-radius: 25px;
    margin-left: 220px;
    height: 40px;
    border: 1px solid black;
    width: 300px;
}
.shop_name{
    padding-left: 670px;
    font-size: 50px;  
    background-color: #F49CEC;

}
.search_button{
    height: 40px;
    border-radius: 25px;
}
.phone_number{
    padding-left: 1000px;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

.event_img{
    width: 1220px;
    height: 300px;
    border: 1px solid black;
    margin-left: 155px;
}

.row {
    margin-top: 5px;
    display: flex;
    padding-left: 165px;
    padding-right: 170px;
    
}

.column {
    flex: 25%;
    padding: 5px;
    border: 1px solid black;
}






