/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2022, 9:36:28 PM
    Author     : quckh
*/
body{

    background-image: url("/chatbot-test/images/layout.jpg");
    background-size: cover;
                
}
#h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.w-full {
    width: 100%;
}

.login_form {
    min-width: 350px;
    max-width: 450px;
    width: 100%;
    margin-top: 100px;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
    height: fit-content;
    background-color:#F2C2DC;
}
.login_header{
    padding-top: 10px;
    margin-left: 300px;
    width: 695px;
    height: 75px;
    font-size: 32px;
    font-weight: bold;
}
.userName{
    text-indent: 20px;
/*    margin-left: 90px;
    background-color: red;*/
    /*width: 400px;*/
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border:none;
}
.px-5 {
    padding: 0 20px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
   align-items: center;
}

.password{
    margin-top: 15px;
    text-indent: 20px;
    /*margin-left: 90px;*/
    /*width: 400px;*/
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border:none;
    margin-bottom: 10px;
}
.login_button{
    margin: 250px auto;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border:none;
    color: #188fff
}

.login_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.login_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.login_button:hover span {
    padding-right: 25px;
}

.login_button:hover span:after {
    opacity: 1;
    right: 0;
}
.register_button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border:none;
    color: #188fff
}

.register_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.register_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.register_button:hover span {
    padding-right: 25px;
}

.register_button:hover span:after {
    opacity: 1;
    right: 0;
}
